.bcontent {
    /* display: flex;
    justify-content: space-between; */
    /* padding: 50px; */
    height: 100vh;
    overflow-x: hidden;
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.azul {
    /* position: absolute; */
    padding: 0;
    width: 100%;
    height: 100%;
    left: 800px;
    top: 0px;

    background: #0075FF;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 170px 0px 170px 170px;
}
/* group btn */

.btngroup {
    padding-top: 5%;
    padding-right: 10%;

    display: flex;
    justify-content: flex-end;

}
.btn-group {
    width: 25%;
    height: 6%;
    left: 500px;
    display: flex;
    justify-content: flex-end;
    
    margin-right: 10%;
    margin-top: 40px;
    border-radius: 50px;
    background-color: #F5F5F5;
    
}

.entrarbtn {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #F5F5F5;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}

.entrarbtn-text {
    font-size: 20px;
    color: #4F4F4F;
}

.entrarbtn:hover{
    background-color: #D9D9D9;
}

.entrarbtn:hover .entrarbtn-text {
    color: #4F4F4F;
}

/* Cadastrar */

.cadastrarbtn {
    width: 100%;
    border-radius: 0 50px 50px 0;
    background-color: #E3E3E3;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.cadastrarbtn-text {
    font-size: 20px;
    color: #4F4F4F;
}

.cadastrarbtn:hover{
    background-color: #C7C7C7;
}

.cadastrarbtn:hover .cadastrarbtn-text {
    color: #4F4F4F;
}

.login-area {
    background-color: #ffffff;
    width: 70%;
    height: 70%;
    margin-left: 12%;
    margin-top: 2%;
    border-radius: 120px 0px 120px 120px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-area-entrar {
    width: 70%;
    height: 70%;

}


.home-title {
    font-size: 2.8em;
}

.home-p {
    font-size: 1.75em;
}
 
.text-video {
    color: #4F4F4F;
    font-size: 3em;
    font-weight: 600;
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-video{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content2{
    margin-top: 25vh;
    margin-bottom: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grafico-d {
    margin-left: 5vh;
    height: 50vh;
}

.title-grafico-d {
    margin-left: 15vh;
    font-size: 3em;
    font-weight: 600;
    color: #4F4F4F;
}

.text-grafico-d {
    margin-top: 5vh;
    margin-left: 15vh;
    font-size: 30px;
    color: #4F4F4F;
}

