.bcontent {
    /* display: flex;
    justify-content: space-between; */
    /* padding: 50px; */
    height: 100vh;
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.azul {
    /* position: absolute; */
    padding: 0;
    width: 100%;
    height: 100%;
    left: 800px;
    top: 0px;

    background: #0075FF;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 170px 0px 170px 170px;
}
/* group btn */

.btngroup {
    padding-top: 5%;
    padding-right: 10%;

    display: flex;
    justify-content: flex-end;

}

.entrarbtn {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    background-color: #F5F5F5;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}

.entrarbtn-text {
    font-size: 20px;
    color: #4F4F4F;
}

.entrarbtn:hover{
    background-color: #D9D9D9;
}

.entrarbtn:hover .entrarbtn-text {
    color: #4F4F4F;
}

/* Cadastrar */

.cadastrarbtn {
    width: 100%;
    border-radius: 0 50px 50px 0;
    background-color: #E3E3E3;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.cadastrarbtn-text {
    font-size: 20px;
    color: #4F4F4F;
}

.cadastrarbtn:hover{
    background-color: #C7C7C7;
}

.cadastrarbtn:hover .cadastrarbtn-text {
    color: #4F4F4F;
}

.login-area {
    background-color: #ffffff;
    width: 70%;
    height: 70%;
    margin-left: 12%;
    margin-top: 2%;
    border-radius: 120px 0px 120px 120px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-area {
    width: 70%;
    height: 85%;

}